@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #7ED8FF;
  --text-color: #FFFF48;
  --subtitle-color: #A6E442;
  --bg-footer: #051523;
  --link-color: #DDC153;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.banner{
  background-image: url(/images/bg_banner_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 1200px;
}

.banner-top {
  /* background: linear-gradient(90deg, rgba(33, 125, 115, 1) 0%, #160927 50%, #160927 75%, rgba(33, 125, 115, 1) 100%); */
  background-color: #160927;
  background-image: url(/images/bg_gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-gradient{
  background: linear-gradient(270deg, rgba(228,158,45,1) 0%, rgba(255,255,67,1) 100%);
}

.customers_logo{
  background-color: #02040D;

}

.customers_logo-content{
  background-image: url(/images/bg_road.png);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  min-height: 190px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: hsl(315deg 98.2% 16.79%);
}

.line_vertical{
  width: 1px;
  height: 100vh;
  background-color: hsl(315deg 98.2% 16.79%);
}

.about-us{
  background-image: url(/images/bg_about_1.png);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: contain;
  background-position: center;
  min-height: 900px;
}

.gameplay-wrap{
  background-image: url(/images/bg_gameplay.png);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  min-height: 900px;
}

.animationContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.car {
  width: 300px;
  animation: moveCar 6s infinite linear;
}

.car_2 {
  animation: moveCar 10s infinite linear;
}

.carImage {
  width: 100%;
  height: 100%;
}

@keyframes moveCar {
  0% {
    transform: translateX(-200%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1) rotateY(0deg);
    opacity: 1;
  }

  75% {
    transform: translateX(200%) scale(1);
  }

  100% {
    transform: translateX(250%) scale(0.5) rotateY(180deg);
    opacity: 0;
  }
}

@media screen and (max-width: 480px){
  .banner{
    min-height: 500px;
  }

  .gameplay-wrap{
    min-height: auto;
  }
}